@using AppAnimals.Areas.Admin.Helpers
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav nav-tabs metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" width="48" height="48" src="https://cropas.by/wp-content/uploads/2015/05/admin.jpg" />

                    <span class="block m-t-xs font-bold">Ivan Mayevsky</span>
                    <span class="text-muted text-xs block">Адміністратор сайту</span>

                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-target="#adduser" data-bs-toggle="tab"><i class="fa fa-th-large"></i> <span class="nav-label">Додати користувача</span></a>
            </li>
            <li class="nav-item">
                <a href="#edituser" class="nav-link" data-bs-target="#edituser" data-bs-toggle="tab"><i class="fa fa-diamond"></i> <span class="nav-label">Редагувати користувача</span></a>
            </li>
            <li class="nav-item">
                <a href="#deleteuser" class="nav-link" data-bs-target="#deleteuser" data-bs-toggle="tab"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Видалити користувача</span></a>
            </li>
            <li class="nav-item">
                <a href="#editrole" class="nav-link" data-bs-target="#editrole" data-bs-toggle="tab"><i class="fa fa-desktop"></i> <span class="nav-label">Керування ролями</span></a>
            </li>
            <li class="nav-item">
                <a href="#editimage" class="nav-link" data-bs-target="#editimage" data-bs-toggle="tab"><i class="fa fa-apple"></i> <span class="nav-label">Змінити зображення</span></a>
            </li>
        </ul>
    </div>
</nav>